body {
    font-family: Arial,  sans-serif; /* Font family */
    font-size: 11px; /* O tamanho da fonte principal<p></p> tag  */
    background-color: #f0f0f0; /* A cor do plano de fundo da página */
    color: #333333; /* A cor do texto */ 
}

@keyframes color-change {
  0%   { color: blue; }
  50%  { color: red; }
  100% { color: blue; }
}

h1 {
    color: #5988FF; /* A cor do cabeçalho */
    font-size: 24px; /* A cor da fonte do cabeçalho */
    font-family: Inter; /* A font usada no cabeçalho*/
    animation: color-change 3s infinite;
}
h2 {
    color: #FD98FB;
    font-size: 16px;
    font-family: Inter;
}